html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6FB79D;
  width: 100%;
  height: 100%;
}

#body-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* title */

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrapper>.title {
  font-size: 26px;
  color: white;
  font-weight: bold;
}

/* random number generator */

.rng-container {
  width: 100%;
  min-width: 25vw;
}

.randomizer {
  background-color: white;
  height: 10vw;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.randomizer>#randnum {
  font-weight: bold;
  font-size: 64px;
}

#minmax {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.min,
.max {
  display: flex;
  flex-direction: column;
}

.min>span,
.max>span {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.min>input,
.max>input {
  height: 28px;
  width: 115px;
  background: #3E7C66;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 0;
  text-align: center;
  color: white;
  font-size: 1em;
}

.btn-container {
  text-align: center;
}

.btn-container>button {
  background: #E1643D;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  font-size: 1em;
  color: white;
  height: 32px;
  width: 100%;
}